@charset "UTF-8";


.outer{
	
	width: 300px;
	height: 250px;
	border: 2px  solid blue;
	background-color: yellow
	
}

.inner{
	
	
	
	width: 250px;
	height: 150px;
	border: 2px  dotted red;
	
}

.child{
	margin-top: 1px;
	width: 50px;
	height: 50px;
	border: 2px solid blue;
	display: inline;
	float: left;
	margin-bottom: 10px;
	background-color: blue
	
}
.child1{
	
	width: 50px;
	height: 50px;
	border: 2px solid green;
	display: inline;
	float: left;
	margin-bottom: 100px;
	margin-top: 50px;
	background-color: green
	
}

.child2{
	margin-top: 100px;
	width: 50px;
	height: 50px;
	border: 2px solid white;
	display: inline;
	float: left;
	margin-right:80px;
	background-color: white
	
}

